extends template

block html
	<html class=contact lang=en>

block title
	| Contact

block content
	section
		article.en
			.col1.nopad
				img.right(src="map.png")
				|320 Route 201
				|Saint-Stanislas-de-Kostka QC
				|J0S 1W0
				br
				|Tel: 
				a(href="tel:+14503772535") 450 377-2535
				br
				|Fax: 
				a(href="tel:+14503770039") 450 377-0039
				br
				br
				h3 Toll free: 
				div
					|US: 
					a(href="tel:+18006656839") 1-800-665-6839
				div
					|Canada: 
					a(href="tel:+18006654391") 1-800-665-4391
			.col2.nopad
				h2 Administration: 

				p
					strong Francois Brunet 
					a(href="mailto:fbrunet@tsyf.com") fbrunet@tsyf.com
					br
					|Ext. 233
					br
					|Operations Manager
				
				p
					strong Marie–Christine Poirier 
					a(href="mcpoirier@tsyf.com") mcpoirier@tsyf.com
					br
					|Ext. 243
					br
					|Controler
				
				p
					strong Patrice Daigle 
					a(href="pdaigle@tsyf.com") pdaigle@tsyf.com
					br
					|Ext. 239
					br
					|Fleet Director
				
				p
					strong Richard Tremblay 
					a(href="rtremblay@tsyf.com") rtremblay@tsyf.com
					br
					|Ext. 226
					br
					|Security human Ressources Director
				
				p
					strong Tony Primiani 
					a(href="tprimiani@tsyf.com") tprimiani@tsyf.com
					br
					|Ext. 253
					br
					|Corporate accounts Director
				
				h2 Répartition – Outbound -  Dispatch

				
				p
					strong Jean-Pierre Thibault 
					a(href="jpthibault@tsyf.com") jpthibault@tsyf.com
					br
					|Ext. 235
				
				h2 Logistics

				p
					strong Joe Laberge 
					a(href="jlaberge@tsyf.com") jlaberge@tsyf.com
					br
					|Ext. 237
				
				h2 Repartition – inbound – Dispatch
				
				p
					strong Kevin Mertick 
					a(href="kmertick@tsyf.com") kmertick@tsyf.com
					br
					|Ext. 231
				
				p
					strong Rollande Brossoit 
					a(href="rbrossoit@tsyf.com") rbrossoit@tsyf.com
					br
					|Ext. 252
			
				h2 Repartition - Local - Dispatch
				p
					strong Marc-Andre Normandeau 
					a(href="manormandeau@tsyf.com") manormandeau@tsyf.com
					br
					|Ext. 228
		img(src="foot3.jpg")
