extends template

block html
	<html class=contact lang=fr>

block title
	| Contact

block content
	section
		article.fr
			.col1.nopad
				a.inline(href="http://binged.it/1cfwol9")
					img.right(src="map.png")
				|320 Route 201
				|Saint-Stanislas-de-Kostka QC
				|J0S 1W0
				br
				|Tél: 
				a(href="tel:+14503772535") 450 377-2535
				br
				|Fax: 
				a(href="tel:+14503770039") 450 377-0039
				br
				br
				h3 Sans frais: 
				p
					|États-Unis: 
					a(href="tel:+18006656839") 1-800-665-6839
					br
					|Canada: 
					a(href="tel:+18006654391") 1-800-665-4391
				
				h2 Service à la clientèle
				p
					a(href="mailto:customerservice@tsyf.com") customerservice@tsyf.com
					br
					|Ext. 262

				h2 Entretient équipements
				p
					strong Lucie Leboeuf
					br
					a(href="mailto:garage@tsyf.com") garage@tsyf.com
					br
					|Ext. 256
				h2 Intermodal
				p
					strong Dany Robichaud
					br
					a(href="mailto:drobichaud@tsyf.com") drobichaud@tsyf.com
					br
					|Ext. 223
					br
					|Directeur commercial
				h2 Technicien en informatique et assurances
				p
					strong Patrice Daigle
					br
					a(href="mailto:pdaigle@tsyf.com") pdaigle@tsyf.com
					br
					|Ext. 228
			.col2.nopad
				h2 Administration: 

				p
					strong Jean-Pierre Thibault 
					br
					|Ext. 235
					br
					|Directeur des opérations

				p
					strong Tony Primiani 
					br
					a(href="mailto:tprimiani@tsyf.com") tprimiani@tsyf.com
					br
					|Directeur Général
				
				p
					strong Marie–Christine Poirier 
					br
					a(href="mailto:mcpoirier@tsyf.com") mcpoirier@tsyf.com
					br
					|Ext. 243
					br
					|Contrôleur

				p
					strong Richard Tremblay 
					br
					a(href="mailto:rtremblay@tsyf.com") rtremblay@tsyf.com
					br
					|Ext. 226
					br
					|Directeur Sécurité Ressources humaines
				
				p
					strong Valérie Dubuc
					br
					a(href="mailto:vdubuc@tsyf.com") vdubuc@tsyf.com
					br
					|Ext. 254
					br
					|Conseillère en ressources humaines
				
				
				
				h2 Répartition – Inbound -  Dispatch
				p 
					a(href="mailto:dispatch_in@tsyf.com") dispatch_in@tsyf.com
				p
					strong Rollande Brossoit
					br
					|Ext. 252

				h2 Repartition – Outbound – Dispatch

				p
					a(href="mailto:dispatch_out@tsyf.com") dispatch_out@tsyf.com

				p
					strong Joe Laberge 
					br
					|Ext. 237

				p
					strong Antoine Pananis
					br
					|Ext. 236
					br
					|(de soir)

			
				h2 Repartition - Local - Dispatch
				p
					strong François Brunet
					br
					|Ext. 233



		img(src="foot3.jpg")
