extends template

block html
	<html class=contact lang=fr>

block title
	| Contact

block content
	section
		article.fr
			.col1.nopad
				a.inline(href="http://binged.it/1cfwol9")
					img.right(src="map.png")
				|320 Route 201
				|Saint-Stanislas-de-Kostka QC
				|J0S 1W0
				br
				|Tél: 
				a(href="tel:+14503772535") 450 377-2535
				br
				|Fax: 
				a(href="tel:+14503770039") 450 377-0039
				br
				br
				h3 Sans frais: 
				p
					|États-Unis: 
					a(href="tel:+18006656839") 1-800-665-6839
					br
					|Canada: 
					a(href="tel:+18006654391") 1-800-665-4391
				
				h2 Service à la clientèle
				p
					a(href="mailto:customerservice@tsyf.com") customerservice@tsyf.com

				h2 Entretient équipements
				p
					strong Lucie Leboeuf
					br
					a(href="mailto:garage@tsyf.com") garage@tsyf.com
					br
					|Ext. 256
				h2 Agent de conformité
				p
					strong Patrice Daigle
					br
					a(href="mailto:safety@tsyf.com") safety@tsyf.com
					br
					|Ext. 228
			.col2.nopad
				h2 Logistique
				p
					strong Patrick Thomas
					br
					|Ext. 231
					br
					|Spécialiste logistique
				p
					strong Commis logistique
					br
					|Ext. 232 ou 234

				h2 Administration: 
				p
					strong Marie–Christine Poirier 
					br
					a(href="mailto:mcpoirier@tsyf.com") mcpoirier@tsyf.com
					br
					|Ext. 243
					br
					|Contrôleur

				p
					strong Richard Tremblay 
					br
					a(href="mailto:rtremblay@tsyf.com") rtremblay@tsyf.com
					br
					|Ext. 226
					br
					|Directeur Sécurité Ressources humaines
				
				p
					strong Valérie Dubuc
					br
					a(href="mailto:vdubuc@tsyf.com") vdubuc@tsyf.com
					br
					|Ext. 254
					br
					|Conseillère en ressources humaines
				
				h2 Répartition – Inbound -  Dispatch
				p 
					a(href="mailto:dispatch_in@tsyf.com") dispatch_in@tsyf.com
					br
					|Ext. 233 ou 252

				h2 Repartition – Outbound – Dispatch

				p
					a(href="mailto:dispatch_out@tsyf.com") dispatch_out@tsyf.com
					br
					|Ext. 237
					br
					|Ext. 236 (de soir)

				h2 Repartition - Local - Dispatch
				p
					a(href="mailto:dispatch_local@tsyf.com") dispatch_local@tsyf.com
					br
					|Ext. 233
					br



		img(src="foot3.jpg")
