extends template

block html
	<html class=documents lang=en>

block title
	| Documents

block content
	section
		article.en
			.col.nocol.nopad
				ul
					li
						img(src="docs/pepshot.jpg")
						a(target="_blank", href="docs/pep.pdf") Partners in Protection (PIP)
					li
						img(src="docs/padshot.jpg")
						a(target="_blank", href="docs/pad.pdf") Canada Border Self Assessment Program
					li
						img(src="docs/fastshot.jpg")
						a(target="_blank", href="docs/fast.pdf") Fast / Expres
					li
						img(src="docs/nirshot.jpg")
						a(target="_blank", href="docs/nir.pdf") NIR
					li
						img(src="docs/caenshot.jpg")
						a(target="_blank", href="docs/caen.pdf") Insurance Certificate
					li
						img(src="docs/matiere-dangereuseshot.jpg")
						a(target="_blank", href="docs/matiere-dangereuse.pdf") Hazardous Materials Certificate
					li
						img(src="docs/matiere-dangereuse-OHshot.jpg")
						a(target="_blank", href="docs/matiere-dangereuse-OH.pdf") HazMat
					li
						img(src="docs/iccshot.jpg")
						a(target="_blank", href="docs/icc.pdf") ICC
					li
						img(src="docs/csstshot.jpg")
						a(target="_blank", href="docs/csst.pdf") CSST
					li
						|C-TPAT: ..a93b9d40 4a1e 43e0 9d69 3b9008b1eb48

		img(src="foot4.jpg",style="width:100%")
