extends template

block html
	<html class=hiring lang=fr>

block title
	|Emploi

block content
	form.section(action="http://api.maloweb.com/sylvestermail", method="post", target="_blank", enctype="multipart/form-data")
		article.fr
			.col1
				p Nous valorisons l’importance des relations humaines et nous sommes fiers du travail d’équipe accompli par nos employés et chauffeurs qui sont le moteur de notre entreprise.
				h4 Emploi postulé:
				p
					input(type="checkbox",value="on",name="i-voiturier",id="i-voiturier")
					label(id="l-voiturier",for="i-voiturier") Voiturier 
					input(type="checkbox",value="on",name="i-chauffeur",id="i-chauffeur")
					label(id="l-chauffeur",for="i-chauffeur") Chauffeur 
				h2 Détails Personnels:
				p
					label.fixedwidth(for="i-nom") Nom: 
					input(name="i-nom",id="i-nom",type="text",required)
					br
					table
						tr
							td
								label.fixedwidth(for="i-a-no") Adresse: 
							td
								input(name="i-a-no",id="i-a-no",type="number",placeholder="Numéro",required)
								input(name="i-a-rue",id="i-a-rue",type="text",placeholder="Rue",required)
								input(name="i-a-ville",id="i-a-ville",type="text",placeholder="Ville",required)
								input(name="i-a-code",id="i-a-code",type="text",placeholder="Code Postal",required)
				p
					label.fixedwidth(for="i-tel",style="width:6em") Téléphone: 
					input(name="i-tel",id="i-tel",type="tel")
					br
					label.fixedwidth(for="i-cel",style="width:6em") Cellulaire: 
					input(name="i-cel",id="i-cel",type="tel")
				h2 Expérience et qualifications:
				p
					label(for="i-ex-us") Nombre d'années d'expérience aux États-Unis:
					br
					input(name="i-ex-us",id="i-ex-us",type="text")
					br
					label(for="i-ex-ca") Nombre d'années d'expérience au Canada:
					br
					input(name="i-ex-ca",id="i-ex-ca",type="text")
				p
					label(for="i-nopermis1") No. de permis: 
					br
					input.inline(name="i-nopermis1",id="i-nopermis1",type="text",maxlength="5",style="width:6em",required)
					|  - 
					input.inline(name="i-nopermis2",id="i-nopermis2",type="text",maxlength="6",style="width:7em",required)
					|  - 
					input.inline(name="i-nopermis3",id="i-nopermis3",type="text",maxlength="2",style="width:3em",required)
				p
					label.fixedwidth(for="i-classes") Classes: 
					input(name="i-classes",id="i-classes",type="text")
					br
					label.fixedwidth(for="i-prov") Province: 
					input(name="i-prov",id="i-prov",type="text")
					br
					label.fixedwidth(for="i-date") Expiration: 
					input(name="i-date",id="i-date",type="date")
					br
					label.fixedwidth(for="i-rest") Restriction: 
					input(name="i-rest",id="i-rest",type="text")
			.col2
				p
					input(type="checkbox",value="on",name="i-m",id="i-m")
					label(id="l-m",for="i-m") Transmission Manuelle (M): 
					br
					input(type="checkbox",value="on",name="i-f",id="i-f")
					label(id="l-f",for="i-f") Transmission Freinage Automatique (F): 
					br
					input(type="checkbox",value="on",name="i-t",id="i-t")
					label(id="l-t",for="i-t") Grand Train Routier (T): 
				p
					label(for="i-inapt") Nombre de points d'inaptitude: 
					br
					input(name="i-inapt",id="i-inapt",type="number",required)
				p
					input.c(type="checkbox",name="i-refus",id="i-refus")
					label(id="l-refus",for="i-refus") Vous a-t-on déjà refusé un permis pour conduire un véhicule commercial? 
					input.c(type="checkbox",name="i-suspendu",id="i-suspendu") 
					label(id="l-suspendu",for="i-suspendu") Votre permis a-t-il déjà été révoqué ou suspendu? 
					span.conditional
						br
						label(for="i-motifs") Motifs:
						textarea(name="i-motifs",id="i-motifs")
				p
					input(type="checkbox",value="on",name="i-pneumatiques",id="i-pneumatiques")
					label(id="l-pneumatiques",for="i-pneumatiques") Avez-vous une connaissance du système de freins pneumatiques? 
					br
					input(type="checkbox",value="on",name="i-dépistage",id="i-dépistage")
					label(id="l-dépistage",for="i-dépistage") Faites-vous partie d'un programme de dépistage sur les stupéfiants &amp; l'alcool? 
					br
					input(type="checkbox",value="on",name="i-fast",id="i-fast")
					label(id="l-fast",for="i-fast") Avez-vous une carte FAST? 
					br
					label(for="i-fastexp") Expiration: 
					input(name="i-fastexp",id="i-fastexp",type="Date")
					br
					input(type="checkbox",value="on",name="i-drug",id="i-drug")
					label(id="l-drug",for="i-drug") Avez-vous déjà eu des résultats positifs suite à un examen de dépistage de drogue? 

				h2 Études: 
				p
					label(for="i-etude") Cours de conduite de véhicules lourds: 
					input(name="i-etude",id="i-etude",type="text")
					br
					label(for="i-etude-inst") Institution: 
					input(name="i-etude-inst",id="i-etude-inst",type="text")
					br
					label(for="i-etude-date") Date de sortie: 
					input(name="i-etude-date",id="i-etude-date",type="Date")
					br
					input(type="checkbox",value="on",name="i-diploma",id="i-diploma")
					label(id="l-diploma",for="i-diploma") Diplôme ou certificat: 
				h2 Attachements: 
				p
					input(type="file",name="cvfile",id="cvfile",required)
					label(for="cvfile") CV: 
					br
					input(type="file",name="permisfile",id="permisfile")
					label(for="permisfile") Permis: 
					br
					input(type="file",name="saaqfile",id="saaqfile")
					label(for="saaqfile") Dossier de la S.A.A.Q: 
					br
					input(type="file",name="dossierfile",id="dossierfile")
					label(for="dossierfile") Recherche négative de dossier judiciaire: 

				input(type="submit",value="Envoyer")







		
