extends template

block html
	<html class=home lang=en>

block title
	| Home

block content
	section
		article.en
			.col1.nopad
				p Transport Sylvester &amp; Forget Inc. is a company established in Quebec, Canada since 1989; we provide specialized cross-border transportation and hold licenses to operate in Canada and the United States, both for general transportation, hazardous and waste materials. 
				a(href="abouten") Read more...
			.col2.nopad
				img.left(src="map.png")
				|320 Route 201
				|Saint-Stanislas-de-Kostka QC
				br
				a(href="tel:+4503772535") 450 377-2535
				br
				br
				a(href="contacten") Contact Page...
		img(src="foot1.jpg",style="width:100%")
