extends template

block html
	<html class=home lang=fr>

block title
	| Accueil

block content
	section
		article.fr
			.col1.nopad
				|Transport Sylvester &amp; Forget Inc. est une société établie au Québec, Canada depuis 1989 maintenant et assure le transport spécialisé transfrontalier. La société détiens des licences d’exploitation au Canada et aux États-Unis, tant pour le transport général que pour les matières dangereuses et déchets. 
				a(href="aboutfr") Lire plus...
			.col2.nopad
				img.left(src="map.png")
				|320 Route 201
				|Saint-Stanislas-de-Kostka QC
				br
				a(href="tel:+4503772535") 450 377-2535
				br
				br
				a(href="contactfr") Page Contact...
		img(src="foot1.jpg",style="width:100%")
