extends template

block html
	<html class=documents lang=en>

block title
	| Documents

block content
	section
		article.fr
			a(target="_blank", href="docs/intermodal.pdf")
				img(src="docs/intermodal.jpg")

		img(src="foot4.jpg",style="width:100%")
