extends template

block html
	<html class=documents lang=fr>

block title
	| Intermodal

block content
	section(style="text-align:center;padding:6em")
		a(target="_blank", href="docs/intermodal.pdf")
			img(src="intermodal.jpg",style="width:963px;max-width:100%")

		img(src="foot4.jpg",style="width:100%;margin-top:0")
