extends template

block html
	<html class=documents lang=fr>

block title
	| Documents

block content
	section.center
		a(target="_blank", href="docs/intermodal.pdf")
			img(src="docs/intermodal.jpg")

		img(src="foot4.jpg",style="width:100%")
