extends template

block html
	<html class="documents logistics" lang=en>

block title
	| Logistics

block content
	section
		article.en
			.col
				p S&F vous propose également un service de Logistique de transport.  Notre département de Logistique saura vous alléger la tâche.  Notre mission première est de trouver des solutions de manutention adaptées à tous vos besoins à des coûts très compétitifs.  Ainsi, notre équipe spécialisée mettra tous les efforts nécessaires, afin que vos produits soient acheminés vers leur destinations finales dans les délais requis.
				p Nous vous offrons plusieurs solutions de transport partout en Amérique du nord, que ce soit en LTL, TL, réfrigérer, transport hors norme, plateforme… Soyez sans crainte, avec S&F vous serez assuré de la fiabilité du service effectué par nos partenaires de confiance.
				p N’hésitez pas à entrer en contact avec notre équipe qualifiée.  Elle répondra avec courtoisie à tous vos questionnements concernant la logistique de vos chargements.  Soyez persuadé que nous mettrons à votre disposition tous les ressources nécessaires afin de combler tous vos besoins.
				p Pour plus d’informations ou pour toutes demandes, veuillez communiquer avec nous au <a href="mailto:sflogistics@tsyf.com">sflogistics@tsyf.com</a>. 

	img(src="foot4.jpg",style="width:100%;margin-top:0")
