extends template

block html
	<html class="documents logistics" lang=fr>

block title
	| Logistique

block content
	section(style="text-align:center;padding:6em")
		| disponible bientôt

	img(src="foot4.jpg",style="width:100%;margin-top:0")
