extends template

block html
	<html class="documents logistics" lang=en>

block title
	| Logistics

block content
	section(style="text-align:center;padding:6em")
		| available soon

	img(src="foot4.jpg",style="width:100%;margin-top:0")
