extends template

block html
	<html class="documents logistics" lang=en>

block title
	| Logistics

block content
	section
		article.en
			.col
				p S&amp;F also offers a logistics transport service. Our logistics department will make it easier for you. Our mission is to find a suitable solution at a very competitive cost. Our specialized team will put all the necessary efforts so that your goods are routed to their final destinations on time.
				p We offer several transport solutions all over North America whether its LTL, TL, refrigerated, oversized loads, flatbeds.. Have no fear with S&amp;F you will be assured of the reliability of the service given by our trusted partners.
				p Do not hesitate to contact our qualified team. They will respond courteously to all your questions regarding the logistics of your cargo. Be assured that we will provide you with all the necessary ressources to meet all your needs.
				p For more informations or any request, contact us at <a href="mailto:sflogistics@tsyf.com">sflogistics@tsyf.com</a>

	img(src="foot4.jpg",style="width:100%;margin-top:0")





